.shopCovrgCol {
  background: var(--whiteBg);
  position: relative;
  padding: 32px;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(35, 32, 32, 0.04);
}
.shopCovrgTtl {
  position: relative;
}
.shopCovrgTtl .shopCovrgArrow {
  width: 10px;
  position: relative;
  z-index: 2;
  top: -1px;
  transition: all 0.3s ease;
}
.shopCovrgTtl .shopCovrgArrow.active {
  transform: rotate(90deg);
}
.shopCovrgTtl span i {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.shopCovrgTtl h3 {
  font-size: 26px;
  color: var(--black);
  font-weight: 600;
  margin: 0;
}
.mblShopCovrgInfo {
  margin-top: 12px;
}
.shopCovrgCol p {
  font-size: 16px;
  color: var(--black);
  margin: 0;
}
.shopCovrgInfo {
  margin-top: 12px;
}
.shopCovrgBtns {
  margin-top: 16px;
}
.shopActnBtn {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1699px) {
  .shopCovrgCol {
    padding: 24px;
  }
  .shopCovrgTtl h3 {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .shopCovrgCol {
    padding: 20px;
  }
  .shopCovrgTtl h3 {
    font-size: 20px;
  }
  .shopCovrgCol p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .shopCovrgCol {
    padding: 16px 16px 70px 16px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
    margin: 0 10px 10px 10px;
  }
  .shopCovrgTtl {
    position: static;
  }
  .shopCovrgTtl span i {
    width: 36px;
    height: 36px;
    margin-bottom: 0;
  }
  .shopCovrgTtl span img {
    width: 36px;
    height: 36px;
  }
  .shopCovrgTtl h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .shopActnBtn {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
  }
  .shopActnBtn a svg {
    width: 28px;
    height: 28px;
  }
  .shopActnBtn .tooltipData {
    display: none;
  }
  .mblShopCovrgInfo {
    /*display: none;*/
  }
  .mblShopCovrgInfo.show {
    /*display: block;*/
  }
  .shopCovrgCol p {
    font-size: 14px;
  }
  .shopCovrgBtns .shopCovrgLink {
    border: 1px solid;
    padding: 0 10px;
    line-height: 32.3px;
    display: block;
    text-align: center;
  }
}