.linkBtn {
    font-size: 16px;
    color: var(--vt-c-blueSky);
    display: flex;
    align-items: center;
}

.linkBtnCenter {
    justify-content: center;
}

.linkBigBtn.linkBtn {
    font-size: 20px;
}

.linkBtn span {
    margin-right: 7px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: -4px;
}

.linkBigBtn.linkBtn span {
    margin-right: 8px;
}

.linkBtn svg path {
    fill: var(--vt-c-blueSky) !important;
}

@media (max-width:1699px) {
    .linkBtn {
        font-size: 14px;
    }
    .linkBigBtn.linkBtn {
        font-size: 17px;
    }
}

@media (max-width:1399px) {
    .linkBtn {
        font-size: 14px;
    }
    .linkBigBtn.linkBtn {
        font-size: 16px;
    }
}

@media only screen and (max-width:767px) {
    .linkBigBtn.linkBtn {
        font-size: 14px;
    }
}