.ftrBlock {
    position: relative;
    background-color: var(--vt-c-blue);
}
.ftrCntnt {
    text-align: center;
}
.ftrCntnt p {
    font-size: 14px;
    line-height: 22px;
    color: var(--vt-c-blueSkyLight2);
    margin-bottom: 6px;
}
.ftrCntnt .yellow {
    color: var(--vt-c-yellow);
}
.ftrCntnt p:last-child {
    margin: 0;
}
.ftrCntnt p a {
    color: var(--whiteText);
}