.paymentCard {
    position: relative;
    background-color: var(--whiteBg);
    padding: 60px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 382px;
}
.paymentIcon i {
    display: inline-block;
}
.paymentIcon h3 {
    font-size: 24px;
    color: var(--black);
    line-height: 30px;
    margin: 16px 0 0;
}
.paymentInfo p {
    font-size: 15px;
    color: var(--vt-c-blue);
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}
.paymentInfo p span {
    font-size: 17px;
    color: var(--vt-c-blue);
    line-height: 24px;
    font-weight: 600;
    display: block;
}