.policyCol {
    background-color: var(--white);
    position: relative;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    padding: 60px;
    height: 100%;
}
.policyInstant {
    background-color: var(--vt-c-blue);
    font-size: 20px;
    color: var(--whiteText);
    line-height: 27px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.policyInstant i {
    display: flex;
}
.policyCardHdr i {
    display: flex;
    height: 80px;
    align-items: center;
}
.policyCardHdr h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: var(--vt-c-blue);
    margin: 12px 0;
}
.policyCardHdr p {
    font-size: 16px;
    line-height: 22px;
    color: var(--vt-c-yellow);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.policyFeaBtn {
    margin-top: 16px;
}
.policyFeaBtn a {
    font-size: 16px;
    line-height: 22px;
    color: var(--vt-c-blueSky);
    font-weight: 500;
    text-decoration: underline;
}
.policyPrice {
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.policyPrice span {
    font-size: 32px;
    line-height: 43px;
    color: var(--vt-c-blue);
    font-weight: 600;
}
.policyPrice small {
    font-size: 20px;
    line-height: 27px;
    color: var(--vt-c-blue);
    font-weight: 600;
    margin-left: 9px;
}
.policyCardFtr {
    margin-top: 16px;
}
.policyCompareCheck {
    
}
.policyCompareCheck input {
    background-color: var(--vt-c-gray);
    border-radius: 16px !important;
    cursor: pointer;
    border: 0;
}
.policyCompareCheck input:checked {
    background-color: var(--vt-c-blueSky);
    border-color: var(--vt-c-blueSky);
}
.policyCompareCheck label {
    font-size: 16px;
    line-height: 22px;
    color: var(--vt-c-blueSky);
    cursor: pointer;
}


.policyOffcanvasDiv {
    width: 50%;
}
.policyOffcanvasHeaderDiv {
    background-color: var(--vt-c-blue);
    padding: 56px;
}
.policyOffcanvasHeader {
    min-width: 100%;
}
.policyOffcanvasClose {
    font-size: 15px;
    color: var(--whiteText);
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.policyOffcanvasHdrTop {
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.policyOffcanvasHdrTop i {
    display: inline-block;
    background: var(--whiteBg);
    padding: 12px 20px;
}
.policyOffcanvasHdrBtm {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.policyOffcanvasHeader p {
    font-size: 15px;
    color: var(--whiteText);
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.policyOffcanvasHeader p span {
    display: block;
    font-size: 18px;
    line-height: 22px;
}
.policyOffcanvasBodyDiv {
    background-color: var(--whiteBg);
    padding: 56px;
}
.policyOffcanvasBodyTabs {
    border: 0;
    margin-bottom: 40px;
}
.policyOffcanvasBodyTabs li {
    border: 0;
}
.policyOffcanvasBodyTabs li + li {
    margin-left: 40px;
}
.policyOffcanvasBodyTabs li button {
    font-size: 20px;
    line-height: 27px;
    color: var(--vt-c-blue);
    font-weight: 500;
    border-width: 0 0 2px 0 !important;
    border-style: solid !important;
    border-color: transparent !important;
    padding: 0;
}
.policyOffcanvasFeaList {
    margin-top: 40px;
}
.policyOffcanvasFeaList ol {
    counter-reset: list;
}
.policyOffcanvasFeaList ol li {
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin-top: 24px;
    position: relative;
    counter-increment: list;
    padding-left: 30px;
}
.policyOffcanvasFeaList ol li:before {
    background-color: var(--vt-c-green);
    position: absolute;
    content: counters(list, ".");
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: var(--whiteText);
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    left: 0;
    top: 0;
}