.floatFormGroup .form-floating > label {
    background: var(--whiteBg);
    left: 10px;
    top: 18px;
    font-size: 16px;
    color: var(--vt-c-gray);
    padding: 0 10px;
    height: auto;
    pointer-events: none;
    width: 80%;
    z-index: 1;
}
.greyForm .floatFormGroup .form-floating > label {
    background: var(--mute3);
}
.floatFormGroup .form-floating > .form-control:focus ~ label,
.floatFormGroup .form-floating > .form-control:not(:placeholder-shown) ~ label,
.floatFormGroup .form-floating > .form-select ~ label {
    opacity: 1;
    transform: scale(1) translateY(-30px) translateX(0);
    width: auto;    
    color: var(--vt-c-blue);
}
.floatFormGroup .form-floating > .form-control:focus,
.floatFormGroup .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 12px;
    padding-bottom: 12px;
}

.floatFormGroup.tooltipDiv input {
    padding-right: 60px;
}

.floatRuppeIconGroup .form-floating input {
    padding-left: 60px;
}
.floatRuppeIconGroup .form-floating::before {
    position: absolute;
    content: "₹";
    left: 20px;
    top: 20px;
    font-size: 18px;
    padding-right: 15px;
    color: var(--gray);
    border-right: 1px solid var(--formBorderColor);
    pointer-events: none;
}
.floatPhoneIconGroup .form-floating input {
    padding-left: 65px;
}
.floatPhoneIconGroup .form-floating::before {
    position: absolute;
    content: "+91";
    left: 20px;
    top: 19px;
    font-size: 16px;
    padding-right: 10px;
    color: var(--gray);
    border-right: 1px solid var(--formBorderColor);
    pointer-events: none;
}

@media (max-width:1699px) {
    .floatRuppeIconGroup .form-floating::before {
        top: 18px;
    }
}

@media (max-width:767px) {
    .floatFormGroup .form-floating > label {
        left: 6px;
        top: 16px;
        font-size: 15px;
    }
    .floatFormGroup .form-floating > .form-control:focus ~ label,
    .floatFormGroup .form-floating > .form-control:not(:placeholder-shown) ~ label,
    .floatFormGroup .form-floating > .form-select ~ label {
        transform: scale(1) translateY(-27px) translateX(0);
    }
    .floatFormGroup.tooltipDiv input {
        padding-right: 50px;
    }
    .floatRuppeIconGroup .form-floating input {
        padding-left: 50px;
    }
    .floatRuppeIconGroup .form-floating::before {
        left: 18px;
        top: 15px;
        font-size: 16px;
        padding-right: 12px;
    }
    .floatPhoneIconGroup .form-floating input {
        padding-left: 60px;
    }
    .floatPhoneIconGroup .form-floating::before {
        left: 18px;
        top: 16px;
        font-size: 16px;
    }
}