.prdctFrmHeight {
    min-height: calc(100vh - 110px);
}
.whiteFormBox {
    background-color: var(--whiteBg);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    padding: 40px;
    position: relative;
    width: 100%;
}
.frmBack {
    margin-bottom: 30px;
}
.frmBackLink {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.frmTtl {
    margin-bottom: 24px;
}
.frmTtl h3 {
    font-size: 24px;
    color: var(--vt-c-blue);
    line-height: 32px;
    font-weight: 600;
    margin: 0;
}
.frmGrpTtl {
    margin-bottom: 16px;
}
.frmGrpTtl h4 {
    font-size: 19px;
    color: var(--vt-c-blue);
    line-height: 30px;
    font-weight: 600;
    margin: 0;
}
.commonForm .formLabel {
    font-size: 17px;
    color: var(--vt-c-blue);
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 14px;
    display: block;
}
.commonForm .formLabel.formSmallLabel {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 6px;
}
.commonForm .formLabel.formLabelGrey {
    color: var(--vt-c-grayLight3);
}
.commonForm .formLabel i {
    margin-left: 6px;
    display: inline;
    vertical-align: text-bottom;
}
.commonForm .formIconGroup {
    position: relative;
}
.commonForm .formInput {
    font-size: 16px;
    color: var(--vt-c-blue);
    height: 60px;
    border-radius: 0;
    padding: 12px 20px;
    font-weight: 500;
    border-color: var(--formBorderColor);
}
.commonForm.greyForm .formInput {
    background-color: var(--mute3);
}
.commonForm .formInput:disabled,
.commonForm .formInput[readonly] {
    background-color: var(--whiteBg);
    cursor: no-drop;
}
.commonForm.greyForm .formInput:disabled,
.commonForm.greyForm .formInput[readonly] {
    background-color: var(--mute3);
}
.commonForm .formIconGroup .formInput {
    padding: 10px 20px 10px 40px;
}
.commonForm textarea.formInput {
    height: 110px;
}
.commonForm .formInput:hover,
.commonForm .formInput:not(:placeholder-shown) {
    border-color: var(--vt-c-blue);
}
.commonForm .formInput:disabled:hover,
.commonForm .formInput[readonly]:not(:placeholder-shown) {
    border-color: var(--formBorderColor);
}
.commonForm .formIconGroup i {
    position: absolute;
    left: 20px;
    top: 37px;
    color: var(--vt-c-grayLight3);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.commonForm .formIconGroup .formInput:hover ~ i,
.commonForm .formIconGroup .formInput:not(:placeholder-shown) ~ i {
    color: var(--vt-c-blue);
}
.commonForm .formSelect {
    font-size: 16px;
    color: var(--vt-c-blue);
    height: 63px;
    border-radius: 0;
    padding: 12px 20px;
    font-weight: 500;
    background-size: 20px 16px;
    border-color: var(--formBorderColor);
}
.commonForm .formInput::placeholder {
    font-size: 16px;
    color: var(--vt-c-gray);
}
/* Chrome, Safari, Edge, Opera */
.commonForm input::-webkit-outer-spin-button,
.commonForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.commonForm input[type=number] {
  -moz-appearance: textfield;
}
.formFileGroup {
    position: relative;
}
.formFileInput {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    opacity: 0;
}
.formFileGroup label {
    cursor: pointer;
}
.formFileGroup label,
.formFileSucess label {
    position: relative;
    background: #E7EAF1;
    border: 1px solid var(--vt-c-blue);
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    color: var(--vt-c-blue);
    font-weight: 500;
}
.formFileSucess label {
    background-color: #E6F7F3;
    border-color: #00AB82;
    color: #00AB82;
}
.formFileSucess label > div {
    margin-top: -5px;
}
.formFileInfo p {
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    margin: 5px 0 0 0;
}
.formLabel,
.formCheckLabel {
    font-size: 16px;
    color: var(--vt-c-blue);
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 14px;
}
.formCheckRadioGroup {
    margin-top: -8px;
}
.formCheckRadio {
    margin-bottom: 0;
    padding: 0;
}
.formCheckRadioGroup .formCheckRadio {
    margin-top: 8px;
}
.formCheckRadio:last-child {
    margin-right: 0;
}
.formCheckRadio input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.15em;
    background-color: var(--vt-c-gray);
    border: 0;
    cursor: pointer;
    display: none;
}
.formCheckRadio input:checked {
    background-color: var(--vt-c-blue);
    border-color: var(--vt-c-blue);
}
.formCheckRadio input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
/*.formCheckRadio label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--vt-c-blue);
    margin-left: 4px;
    cursor: pointer;
}*/
.formCheckRadio label {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: var(--vt-c-grayLight3);
    margin: 0 !important;
    cursor: pointer;
    padding: 16px 20px 16px 50px;
    position: relative;
    border: 1px solid var(--vt-c-grayLight3);
    transition: all 0.3s ease 0s;
    outline: 1px;
    outline-style: solid;
    outline-color: transparent;
}
.formSkillCheckRadio label {
    padding: 12px 20px 12px 20px;
}
.formCheckRadio label::before {
    position: absolute;
    content: "";
    border: 1px solid var(--vt-c-grayLight3);
    width: 24px;
    height: 24px;
    left: 16px;
    top: 16px;
    transition: all 0.3s ease 0s;
}
.formCheckRadio label::after {
    background: var(--vt-c-yellow);
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 21px;
    top: 21px;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.formSkillCheckRadio label::before,
.formSkillCheckRadio label::after {
    display: none;
}
.formCheckRadio input:checked[type=radio] ~ label {
    border-color: var(--vt-c-yellow);
    color: var(--vt-c-blue);
    outline-color: var(--vt-c-yellow);
}
.formCheckRadio input:checked[type=radio] ~ label::before {
    border-color: var(--vt-c-yellow);
}
.formCheckRadio input:checked[type=radio] ~ label::after {
    opacity: 1;
}
.formCheckFillOuter {
    margin: -8px 0 0 -8px;
}
.formCheckFillRadio {
    padding: 0;
    margin: 8px 0 0 8px;
}
.formCheckFillRadio:last-child {
    margin-right: 0;
}
.formCheckFillRadio input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.15em;
    background-color: var(--vt-c-gray);
    border: 0;
    cursor: pointer;
    display: none;
}
.formCheckFillRadio input:checked {
    background-color: var(--vt-c-blue);
    border-color: var(--vt-c-blue);
}
.formCheckFillRadio input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.formCheckFillRadio label {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: var(--vt-c-grayLight3);
    margin: 0 !important;
    cursor: pointer;
    padding: 10px 16px 10px 16px;
    position: relative;
    border: 1px solid var(--vt-c-grayLight3);
    transition: all 0.3s ease 0s;
}
.formCheckFillRadio label::after {
    background-image: url('../../public/icons/radioCheck.svg');
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 13px;
    top: 12px;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.formCheckFillRadio input:checked[type=radio] ~ label {
    background-color: var(--vt-c-blue);
    border-color: var(--vt-c-blue);
    color: var(--whiteText);
    padding-left: 45px;
}
.formCheckFillRadio input:checked[type=radio] ~ label::before {
    border-color: var(--vt-c-yellow);
}
.formCheckFillRadio input:checked[type=radio] ~ label::after {
    opacity: 1;
}
.commonForm .formSwitch input {
    width: 35px;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 35px;
    transition: background-position 0.15s ease-in-out;
    background-color: var(--vt-c-gray);
    border: 0;
    height: 18px;
}
.commonForm .formSwitch input:focus {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e);
}
.removeCatBtn,
.addCatBtn {
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    padding: 0;
}
.removeCatBtn {
    color: var(--error);
}
.addCatBtn {
    color: var(--vt-c-yellow);
}
.formEditField {
    background: var(--mute3);
    border: 1px solid var(--vt-c-gray);
    padding: 16.27px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formEditField span {
    font-size: 16px;
    color: var(--greyDark1);
}
.formEditFieldBtn {
    padding: 0;
    border: 0;
}
.fromButtonDiv {
    gap: 3rem;
}
.formBtn {
    padding: 21.5px 40px;
    font-size: 16px;
}
.btnLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    line-height: 18px;
    color: var(--vt-c-blue) !important;
    font-weight: 500;
}
.frmftr {
    margin-top: 24px;
}
.frmftr p {
    font-size: 14px;
    color: var(--vt-c-blueSkyLight2);
    line-height: 18px;
    font-weight: 400;
    margin: 0;
}
.brownText p {
    color: var(--brown);
}
.frmftr p a {
    color: var(--vt-c-blue);
    text-decoration: underline;
    font-weight: 600;
}


@media (min-width:1400px) {
    .prdctFrmHeight .whiteFormBox {
        max-width: 510px;
        float: right;
    }
}

@media (min-width:1400px) {
    .prdctFrmHeight .whiteFormBox {
        max-width: 600px;
    }
}

@media (max-width:1699px) {
    .prdctFrmHeight {
        min-height: calc(100vh - 95px);
    }
    .whiteFormBox {
        padding: 32px;
    }
    .frmTtl h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .commonForm .formInput,
    .commonForm .formSelect {
        height: 60px;
        padding: 10px 20px;
    }
    .formFileGroup label,
    .formFileSucess label {
        height: 60px;
        font-size: 17px;
    }
    .frmBackLink {
        font-size: 18px;
        gap: 0.5rem;
    }
    .formBtn {
        padding: 20px 30px;
        font-size: 16px;
    }
    .btnLink {
        font-size: 14px;
    }
}

@media (max-width:1199px) {
    .whiteFormBox {
        padding: 24px;
    }
    .frmftr {
        margin-top: 24px;
    }
}

@media (max-width:767px) {
    .whiteFormBox {
        padding: 20px;
    }
    .frmTtl {
        margin-bottom: 20px;
    }
    .frmTtl h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .frmGrpTtl {
        margin-bottom: 16px;
    }
    .frmGrpTtl h4 {
        font-size: 18px;
        line-height: 28px;
    }
    .frmBackLink {
        font-size: 17px;
        gap: 0;
        display: block;
    }
    .frmBackLink img {
        margin-right: 12px;
    }
    .frmBackLink span {
        margin-left: 40px;
        display: block;
    }
    .commonForm .formLabel {
        font-size: 17px;
        line-height: 22px;
    }
    .commonForm .formInput,
    .commonForm .formSelect {
        font-size: 15px;
        height: 54px;
        padding: 8px 16px;
    }
    .formFileGroup label,
    .formFileSucess label {
        height: 54px;
    }
    .formCheckRadio {
        margin-right: 8px;
    }
    .formCheckRadio label {
        font-size: 14.5px;
        padding: 8px 10px 8px 35px;
    }
    .formCheckRadio label::before {
        width: 18px;
        height: 18px;
        left: 8px;
        top: 11px;
    }
    .formCheckRadio label::after {
        width: 10px;
        height: 10px;
        left: 12px;
        top: 15px;
    }
    .formEditField {
        padding: 13px 16px;
    }
    .formEditField span {
        font-size: 15px;
    }
    .fromButtonDiv button {
        width: 100%;
        justify-content: center;
    }
    .formBtn {
        padding: 16px 20px;
        font-size: 15px;
    }
    .frmftr {
        margin-top: 20px;
    }
}

.editingModeForm .formBlock:not(.active),
.editingModeForm > .fromButtonDiv {
    display: none !important;
}

.formBlock .frmBack {
    display: none;
}
.editingModeForm .formBlock .frmBack {
    display: block;
}