.ProdMain {
    margin-top: 80px;
}
.ProductNavbar {
    position: sticky;
    top: 0;
    z-index: 222;
}
.ProductNavbar .navbar {
    border-bottom: 1px solid var(--vt-c-yellow);
    padding: 0;
}
.ProductList {
    justify-content: space-between;
    width: 100%;
}
.ProductList li {
    margin-right: 16px;
    margin-bottom: 10px;
    position: relative;
}
.ProductList li:last-child {
    margin-right: 0;
}
.ProductList li a {
    display: flex;
    align-items: center;
}
.ProductList li a img.svgActive {
    display: none;
}
.ProductList li a.active img.svgActive {
    display: inline;
}
.ProductList li a.active img.svg {
    display: none;
}

.ProductNavbarContent {
    margin-top: 60px;           
}

.tabChecklistCard {
    margin-top: 32px;
}
.tabChecklistCard img {
    width: 26px;
}
.tabChecklistCardTitle {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
}

.productInfoCard {
    margin-top: 32px;
    border: 1px solid #E7EAF1;
    padding: 32px;
    box-shadow: -1px 2px 10px 0px rgba(180, 189, 211, 0.10);
}
.productInfoCard img {
    width: 100px;
}
.productInfoCardTitle {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
}

.lightYellowSec {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 80px;
    overflow: hidden;
}
.lightYellowSecImg {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 450px;
}

.lightYellowSecCards {
    margin-top: 50px;
}
.lightYellowSecCardCol {
    border-right: 1px solid var(--vt-c-blueGray);
    padding-bottom: 0;
    height: 100%;
}
.lightYellowSecCardCol.lightYellowSecCardColNew {
    border-right: 1px dashed var(--vt-c-blueGray);
}
.lightYellowSecCardCol {
    padding-bottom: 0 !important;
}
.lightYellowSecCardBox {
    padding-right: 24px;
}

.listData li {
    position: relative;
    padding-left: 20px; 
}
.listData li + li {
    margin-top: 12px;
}
.listData li::before {
    background-color: var(--black);
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.listOrderData {
    position: relative;
    z-index: 1;
}
.listOrderData::before {
    position: absolute;
    content: "";
    left: 14px;
    top: 0;
    bottom: 0;
    border: 1px dashed var(--vt-c-yellow);
    z-index: -1;
}
.listOrderData li {
    position: relative;
    padding-left: 45px;
    counter-increment: item;
    min-height: 30px;
}
.listOrderData li + li {
    margin-top: 16px;
}
.listOrderData li::before {
    background-color: var(--black);
    position: absolute;
    content: counter(item);
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: var(--whiteText);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
.listOrderData li:last-child::before {
    background-color: var(--vt-c-yellow);
}

.whoNeed {
    margin-top: 80px;
}

.whyGet {
    margin-top: 80px;
}
.whyGetImg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 450px;
}
.coverage {
    margin-top: 80px;
}

.claimSec {
    margin-top: 80px;
}

.ProductSecLeft {
    padding-right: 10px;
}

.inciTabPanelBoxLeft {
    max-width: 80%;
}

.ProdFAQ {
    margin-top: 80px;
}

.productStartup {
    margin-top: 80px;
}

.productStartupCard {
    margin-bottom: 30px;
    padding: 0;
}
.productStartupCard img {
    width: 80px;
    display: block;
}
.productStartupCard p {
    font-weight: 500;
}

.productStartupListSec {
    position: relative;
}
.productStartupIcon {
    position: absolute;
    right: -84px;
    bottom: -90px;
    width: 200px;
}

.productStartupBottom {
    margin-bottom: 80px;
}
.productStartupBottom .yellowBtn {
    padding-left: 48px;
    padding-right: 48px;
}


.productRateCard {
    position: relative;
    z-index: 1;
}
.productRateHdr {
    background-color: var(--vt-c-blue);
    padding: 16px 20px;
}
.productRateHdr p {
    font-size: 20px;
    color: var(--whiteText);
    line-height: 26px;
    font-weight: 500;
    margin: 0;
    max-width: 220px;
}
.productRateBody {
    border: 2px dashed var(--vt-c-blue);
    padding: 20px;
    position: relative;
    top: -2px;
}
.productRateBody p {
    font-size: 16px;
    color: var(--vt-c-blueGray);
    font-weight: 500;
    border-bottom: 1px solid var(--vt-c-gray);
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.productRateBody h3 {
    font-size: 28px;
    color: var(--vt-c-blue);
    font-weight: 600;
    line-height: 34px;
    margin: 0;
}

@media (max-width: 1699px) {
    .lightYellowSecCardBox {
        padding-right: 16px;
    }
    .lightYellowSecCardBox h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .productStartupBottom .yellowBtn {
        padding: 18px 34px;
    }
}
@media (max-width:1450px) {
    .productStartupBottom .yellowBtn {
        font-size: 17px;
        padding: 16px 40px;
    }
}
@media (max-width:1399px) {
    .productStartupBottom .yellowBtn {
        padding: 16px 35px;
    }
}
@media (max-width:1299px) {
    .productStartupIcon {
        right: 0;
    }
}

@media (max-width: 991px) {
    .ProdMain {
        margin-top: 40px;
    }
    .ProductList {
        justify-content: space-between;
        width: 100%;
    }
    .ProductList li:last-child {
        margin-right: 0;
    }
    .ProductList li {
        padding: 0 5px;
        font-size: 50px;
        margin-right: 10px;
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .ProductList li a.active::after {
        bottom: -8px;
    }
    .ProductNavbarContent {
        padding-left: 0;
        margin-top: 30px;
    }
    .prodContainer {
        padding: 0;
    }
    .tabChecklistCard {
        margin-top: 15px;
    }
    .tabChecklistCard img {
        width: 16px;
    }
    .tabChecklistCardTitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        width: 100%;
    }
    .productInfoCard {
        margin-top: 15px;
        padding: 24px;
    }
    .productInfoCard img {
        width: 80px;
        height: auto;
    }
    .productInfoCardTitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        width: 100%;
    }
    .lightYellowSec {
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .lightYellowSecImg {
        left: auto;
        right: 0;
    }
    .lightYellowSecCards {
        margin-top: 25px;
    }
    .lightYellowSecCardCol {
        border-right: 0;
        border-bottom: 1px solid var(--vt-c-blueGray);
        padding-bottom: 20px;
        padding-top: 0;
    }
    .lightYellowSecCardBox {
        padding-right: 0;
        padding-left: 0;
    }
    .lightYellowSecCardBox img {
        width: 30px;
    }
    .lightYellowSecCardColNew .lightYellowSecCardBox {
        background-color: var(--mute1);
        box-shadow: -1px 1px 10px 0px rgba(255, 165, 0, 0.10), 0px 0px 10px 0px #E7EAF1 inset;
        border: 2px solid var(--vt-c-yellow);
        padding: 16px;
    }
    .lightYellowSecCardColNew .lightYellowSecCardBox img {
        width: 100px;
    }
    .lightYellowSecCardBox h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .lightYellowSecCardBox p {
        margin-bottom: 0;
    }
    .whoNeed {
        margin-top: 40px;
    }
    .whyGet {
        margin-top: 40px;
    }
    .lightYellowSecCardCol {
        border: 0 !important;
    }
    .lightYellowSecCardBox {
        padding-top: 0 !important;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--vt-c-blueGray);
    }
    .lightYellowSecCardBox:first-child {
        padding-top: 0;
    }
    .coverage {
        margin-top: 40px;
    }
    .claimSec {
        margin-top: 40px;
    }
    .inciTabPanelBoxLeft {
        max-width: 100%;
    }
    .ProdFAQ {
        margin-top: 40px;
    }
    .productStartup {
        margin-top: 40px;
    }
    .productStartup .prodContainer > .row {
        text-align: left !important;
    }
    .productStartupCard {
        margin-bottom: 20px;
        padding: 0px;
    }
    .productStartupCard:last-child {
        margin-bottom: 0;
    }
    .productStartupCard img {
        width: 60px;
    }
    .productStartupCard h4 {
        font-weight: 600
    }
    .productStartupBottom {
        margin-bottom: 40px;
    }
    .productStartupBottom .btnCommon {
        padding: 14px 18px;
        justify-content: center;
    }
    .productStartupListSec {
        margin-bottom:  120px;
    }
    .productStartupIcon {
        right: 30px;
        bottom: -70px;
        width: 150px;
    }
}

@media (max-width: 575px) {
    .productStartupListSec {
        margin: 0 -20px 120px -20px;
    }
    .productStartupIcon {
        right: 40px;
        bottom: -75px;
        width: 140px;
    }
    .ProductList li {
        margin-right: 6px;
    }
}