@media (min-width: 1300px) {
  .productPage .container{
    max-width: 74.5%;
  }
}

@media (max-width: 1699px) {
  :root {
    --section-gap: 60px;
  }
  .quoteCompareAccordian .accordion-button::before {
    width: 1.6rem;
    height: 1.6rem;
    background-size: 1.6rem;
  }
}

@media (max-width: 1399px) {
  .whiteCol {
    padding: 32px;
  }
}

@media (max-width: 1199px) {
  :root {
    --section-gap: 60px;
  }
  .whiteCol {
    padding: 24px;
  }
}

@media (max-width: 991px) {
  :root {
    --section-gap: 50px;
  }
  .badgeIconCol {
    width: 212px;
    height: 212px;
  }
  .badgeIcon,
  .badgeActiveIcon {
    width: 114px;
  }
}

@media (max-width: 767px) {
  :root {
    --section-gap: 40px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .whiteCol {
    padding: 20px;
  }
  .order2 {
    order: 2;
  }
  .badgeIconCol {
    width: 150px;
    height: 150px;
    padding: 16px;
  }
  .badgeIcon,
  .badgeActiveIcon {
    left: 42px;
    top: 35px;
    width: 70px;
  }
  .homeBannerProductOuter::before,
  .homeBannerProductOuter::after {
    left: 20px;
    right: 20px;
  }
}