.dashHdngDiv h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0;
    line-height: 36px;
}

@media (max-width:1699px) {
    .dashHdngDiv h3 {
        font-size: 20px;
        line-height: 32px;
    }
}

@media only screen and (max-width:767px) {
    .dashHdngDiv h3 {
        font-size: 18px;
        line-height: 28px;
    }
}