.rateCol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.rateBgCol {
    background-color: var(--mute1);
    padding: 18px 30px;
}
.rateTextDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.rateTextDiv p > span {
    font-size: 36px;
    font-weight: 700;
    color: var(--vt-c-yellow);
    letter-spacing: -0.02em;
    font-style: italic;
}
.rateTextDiv p > span span {
    font-style: normal;
    font-weight: 500;
}
.rateCol p {
    font-size: 17px;
    font-weight: 500;
    color: var(--vt-c-blue);
    line-height: 28px;
    margin: 0;
    display: inline-flex;
    gap: 0.5rem;
}
.rateStarsDiv {
    padding: 5px 0;
}
.rateStars {
    display: flex;
    align-items: center;
    gap: 0.2rem
}
.rateStars i img {
    width: 28px;
    height: 28px;
}

@media (max-width:1199px) {
    .rateTextDiv {
        gap: 1rem;
    }
    .rateTextDiv p > span {
        font-size: 28px;
    }
}

@media (max-width:991px) {
    .rateTextDiv {
        display: block;
        text-align: center;
    }
    .rateTextDiv i {
        display: none;
    }
    .rateTextDiv p:last-child {
        margin-top: 16px;
    }
}

@media (max-width:767px) {
    .rateBgCol {
        padding: 10px;
        border-width: 2px;
    }
    .rateTextDiv {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .rateTextDiv span {
        font-size: 30px;
    }
    .rateTextDiv span span {
        font-size: 26px;
    }
    .rateCol p {
        font-size: 14px;
        line-height: 24px;
    }
    .rateTextDiv p {
        display: block;
    }
    .rateTextDiv p > span {
        font-size: 22px;
        display: block;
    }
    .rateStars {
        gap: 0.1rem;
    }
    .rateStars i img {
        width: 24px;
        height: 24px;
    }
}