.policyHdrInfo {
    position: relative;
    width: 100%;
}
.policyHdrInfo > div {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.policyCovName {
    font-size: 15px;
    color: var(--vt-c-blue);
    line-height: 20px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    border: 1px solid var(--vt-c-blue);
}
.policyCovName > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.policyCovName span {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    display: block;
}

.policyEditBtn {
    margin: -15px -24px -15px 24px;
}
.policyEditBtn a {
    display: block;
    padding: 29px 20px;
    font-size: 15px;
    color: var(--vt-c-blue);
    border-left: 1px solid var(--vt-c-blue);
}

@media (max-width:1699px) {
    .policyCovName span {
        font-size: 19px;
        line-height: 28px;
    }
}

@media (max-width:1399px) {
    .policyCovName span {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width:1199px) {
    .policyCovName {
        font-size: 15px;
        padding: 10px 20px;
    }
    .policyCovName span {
        font-size: 17px;
        line-height: 26px;
    }
    .policyEditBtn {
        margin: -10px -20px -10px 20px;
    }
    .policyEditBtn a {
        padding: 24px 20px;
    }
}

@media (max-width:991px) {
    .policyEditBtn a {
        padding: 36px 20px;
    }
}

@media (max-width:767px) {
    .policyCovName {
        font-size: 14px;
        padding: 0;
        display: block;
        width: 100%;
        border: 0;
    }
    .policyCovName > div:first-child {
        padding: 9.5px;
        border: 1px solid var(--vt-c-blue);
    }
    .policyCovName > div:last-child {
        justify-content: flex-start;
    }
    .policyCovName span {
        font-size: 15px;
        line-height: 24px;
        display: block;
    }
    .policyEditBtn {
        margin: 0;
    }
    .policyEditBtn a {
        padding: 12px;
        border: 1px solid var(--vt-c-blue);
    }
}