.tlkExprtCol {
    cursor: pointer;
}
.tlkExprtCol.gray {
    background-color: var(--vt-c-grayLight2);
    padding: 10px 15px;
}
.tlkExprtCol.yellow {
    background-color: var(--mute1);
    padding: 10px 15px;
}
.tlkExprtImg {
    margin-right: 24px;
}
.tlkExprtCol.small .tlkExprtImg {
    margin-right: 20px;
}
.tlkExprtCol.extraSmall .tlkExprtImg {
    margin-right: 16px;
}
.tlkExprtImg img {
    width: 100px;
    height: 100px;
    border: 3px solid var(--activeColor);
    border-radius: 50%;
}
.tlkExprtCol.small .tlkExprtImg img {
    width: 65px;
    height: 65px;
}
.tlkExprtCol.extraSmall .tlkExprtImg img {
    width: 58px;
    height: 58px;
}
.tlkExprtCol.gray.small .tlkExprtImg img {
    width: 60px;
    height: 60px;
}
.tlkExprtCol h4 {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 4px;
}
.tlkExprtCol.small h4 {
    font-size: 18px;
}
.tlkExprtCol.extraSmall h4 {
    font-size: 16px;
    margin: 0;
}
.tlkExprtCol p {
    font-size: 14px;
    color: var(--gray);
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}
.tlkExprtCol.extraSmall .tlkExprtCol p {
    font-size: 12px;
    line-height: 18px;
}
.tlkExprtCol a {
    font-size: 14px;
    color: var(--vt-c-blueSky);
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 4px;   
    text-decoration: underline;
    text-decoration-skip-ink: none; 
}

@media (max-width:1699px) {
    .tlkExprtImg {
        margin-right: 20px;
    }
    .tlkExprtCol.small .tlkExprtImg {
        margin-right: 16px;
    }
    .tlkExprtCol.extraSmall .tlkExprtImg {
        margin-right: 12px;
    }
    .tlkExprtImg img {
        width: 80px;
        height: 80px;
    }
    .tlkExprtCol.small h4 {
        font-size: 18px;
    }
    .tlkExprtCol.small h4 {
        font-size: 16px;
    }
}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {
    .tlkExprtMobile {
        display: block !important;
        text-align: center;
        padding: 15px;
    }
    .tlkExprtImg {
        margin-bottom: 16px;
        margin-right: 0;
    }
    .tlkExprtCol h4 {
        font-size: 16px;
    }
}