.helpfulCol {
    background-color: var(--mute1);
    position: relative;
    padding: 24px;
}
.helpfulInfo {

}
.helpfulInfo h4 {
    font-size: 20px;
    color: var(--gray);
    line-height: 30px;
    letter-spacing: 0.02em;
    margin: 0;
    display: flex;
    align-items: center;
}
.helpfulInfo h4 img {
    margin-right: 12px;
}
.helpfulBtns {

}
.helpfulBtns a {
    font-size: 16px;
    color: var(--gray);
    line-height: 43px;
    letter-spacing: 0.02em;
    width: 100px;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.helpfulBtns a img {
    margin-right: 8px;
}