.quoteCompareHdr i {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.quoteCompareLogo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 50px;
}
.quoteCompareHdr h4 {
    font-size: 18px;
    line-height: 26px;
    color: var(--black);
    font-weight: 500;
    margin: 8px 0 24px 0;
    width: 80%;
    min-height: 52px;
}
.quoteCompareBtn {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    line-height: 50px;
}
.quoteCompareBtn span,
.quoteCompareBtn a {
    background-color: var(--vt-c-blue);
    display: inline-block;
    min-width: 150px;
    color: var(--whiteText);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1699px) {
    .quoteCompareHdr h4 {
        font-size: 16px;
        line-height: 24px;
        margin: 8px 0 18px 0;
    }
    .quoteCompareBtn,
    .quoteCompareBtn span,
    .quoteCompareBtn a {
        font-size: 17px;
        min-width: 140px
    }
}

@media (max-width: 767px) {
    .quoteCompareHdr h4 {
        font-size: 16px;
    }
    .quoteCompareBtn {
        line-height: 36px;
    }
    .quoteCompareBtn,
    .quoteCompareBtn span,
    .quoteCompareBtn a {
        font-size: 16px;
        min-width: 130px;
    }
}